<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="http://127.0.0.1:4000/css/dashboard-styles.css"
    />

    <title>Dashboard - Syslogic KPI System</title>
  </head>
  <body>
    <header>
      <%- include('includes/siteLogo') %> <%- include('includes/navigationBar')
      %>
    </header>
    <div id="page-container">
      <div class="wrapper">
        <main>
          <h1>404 : Error Page Not Found!</h1>
        </main>
      </div>
      <!-- <footer>
        <p>Syslogic KPI System</p>
      </footer> -->
    </div>

    <script src="http://127.0.0.1:4000/js/record.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
  </body>
</html>
